import { Module } from '@nestjs/common';
import { queryHandlers } from '../queries';
import { commandHandlers } from '../commands';

@Module({
  controllers: [],
  providers: [...queryHandlers, ...commandHandlers],
  exports: [...queryHandlers, ...commandHandlers],
})
export class <%= hyphenToCapital(name) %>ApplicationModule {}
