import { Module } from '@nestjs/common';
import <%= hyphenToCapital(name) %>InfrastructureModule from '@project/<%= name %>/infrastructure'
import { queryHandlers } from '../queries';
import { commandHandlers } from '../commands';

@Module({
  controllers: [],
  imports: [<%= hyphenToCapital(name) %>InfrastructureModule],
  providers: [...queryHandlers, ...commandHandlers],
  exports: [...queryHandlers, ...commandHandlers],
})
export class <%= hyphenToCapital(name) %>ApplicationModule {}
