import { AggregateRoot, CUID } from '@your-lib/shared';

export interface <%= hyphenToCapital(name) %>Props {
  props: unknown;
}

export class <%= hyphenToCapital(name) %> extends AggregateRoot<<%= hyphenToCapital(name) %>Props> {
  protected readonly _id!: CUID;

  override get id(): CUID {
    return this._id;
  }

  public validate(): void {
    return;
  }
}
