import { CommandBase, CommandProps } from '@your-lib/shared';

export class <%= hyphenToCapital(name) %>Command extends CommandBase {
  public readonly props1: string;

  constructor(props: CommandProps<<%= hyphenToCapital(name) %>Command>) {
    super();
    this.props1 = props.props1;
  }
}
