import { Module } from '@nestjs/common';
import { ConfigModule } from '@nestjs/config';
import { <%= hyphenToCapital(name) %>GraphqlUiModule } from '@project/<%= name %>/graphql-ui';

@Module({
  imports: [
      ConfigModule.forRoot({
        envFilePath: path.resolve(__dirname, '.env'),
        isGlobal: true
      }),
      <%= hyphenToCapital(name) %>GraphqlUiModule
    ],
  providers: [],
})
export class AppModule {}
