import { Provider } from '@nestjs/common';
// Queries
export * from './<%= name %>/<%= name %>.query';
// Handlers
import { <%= hyphenToCapital(name) %>QueryHandler } from './<%= name %>/<%= name %>.query-handler';
export const queryHandlers: Provider[] = [<%= hyphenToCapital(name) %>QueryHandler];

