import { DomainEvent, DomainEventProps } from '@your-lib/shared';

export class <%= hyphenToCapital(name) %>Event extends DomainEvent {
  public readonly value1: unknown;

  constructor(props: DomainEventProps<<%= hyphenToCapital(name) %>Event>) {
    super(props);
    this.value1 = props.value1;
  }
}
