// Queries
export * from './<%= name %>/<%= name %>.query';
// Handlers
import { <%= hyphenToCapital(name) %>QueryHandler } from './<%= name %>/<%= name %>.query-handler';
export const queries = [<%= hyphenToCapital(name) %>QueryHandler];

