import { ClassProvider } from '@nestjs/common';
import {
  <%= hyphenToCapital(name) %>Repository,
} from '@project/<%= subDomain %>/domain';

import { <%= hyphenToCapital(name) %>Repository } from './<%= name %>.repository';

export const repositories: ClassProvider[] = [
  { provide: <%= hyphenToCapital(name) %>Repository, useClass: <%= hyphenToCapital(name) %>Repository },
];
